@font-face{font-family:"HarmonyOS Sans";font-style:normal;font-weight:400;font-display:swap;src:url("../fonts/HarmonyOS-Sans-Regular.woff2") format("woff2")}
@font-face{font-family:"HarmonyOS Sans";font-style:normal;font-weight:700;font-display:swap;src:url("../fonts/HarmonyOS-Sans-Bold.woff2") format("woff2")}
